 <div class="sidebar-widget category">
    <h2 class="title">Category</h2>
        <ul>
            {{#each categories}}
            <li><a href="/product?catid={{id}}">{{name}}</a><span>(83)</span></li>
            {{/each}}
            <!--<li><a href="#">Cras sagittis</a><span>(198)</span></li>
            <li><a href="#">Vivamus</a><span>(95)</span></li>
            <li><a href="#">Fusce vitae</a><span>(48)</span></li>
            <li><a href="#">Vestibulum</a><span>(210)</span></li>
            <li><a href="#">Proin phar</a><span>(78)</span></li>-->
        </ul>
</div>