<form method="post" action="/brand/addedit">
    <input type="hidden" name="id" value="{{id}}">
    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 m-4">
    <div class="register-form">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <label>Name</label>
                <input name="name" class="form-control" type="text" placeholder="Name" value="{{name}}">
            </div>
            <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <label>Image</label>
                <input name="imagePath" class="form-control" type="text" value="{{imagePath}}">
            </div>
            <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <button class="btn">Submit</button>
            </div>
        </div>
    </div>
</div>
</form>
